* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Solway", serif; }

body {
  background-color: #f8d7d7; }

.container {
  display: flex;
  justify-content: center;
  flex-direction: column; }

ul {
  list-style: none;
  display: contents; }

h1 {
  font-size: 2.8em; }

h2 {
  font-size: 2.2em; }

h3 {
  font-size: 1.5em; }

p {
  font-size: 0.9em; }

/*Nav Bar*/
header {
  background-color: white; }
  header nav .nav-link {
    padding: 2px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    font-size: 0.9em; }
  header nav .nav-link:hover {
    color: #9f55b4; }

button .navbar-toggler {
  color: #000;
  padding: 10px 30px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.425); }

/*Footer*/
footer {
  background-color: #F0F0F0;
  margin: 0; }
  footer .container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center; }
    footer .container .box figure img {
      width: 90px;
      padding-top: 20%; }
    footer .container .box p {
      color: #000;
      margin-bottom: 20px;
      text-align: center;
      padding: 30px; }
    footer .container h2 {
      color: black;
      font-size: 1.1em;
      margin-bottom: 10px;
      text-align: center;
      margin: 20px; }
    footer .container .fa {
      text-decoration: none;
      width: 60px;
      text-align: center; }
    footer .container .coloricon-redes {
      color: black; }
    footer .container .coloricon-redes:hover {
      color: #dc9cbe; }

/*Home*/
.carousel, .carousel-inner, .carousel-item {
  max-width: 700px;
  padding-bottom: 10px; }

.div-outerheader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 60px 0px; }
  .div-outerheader a {
    padding-top: 20px; }
  .div-outerheader .contact-button {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.425);
    background-color: rgba(31, 30, 30, 0.222); }

.title-head {
  text-align: center;
  color: rgba(0, 0, 0, 0.723); }

.animate__zoomIn {
  animation-name: zoomIn; }

.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.contact-button, .service-buttom {
  color: #000;
  font-size: 1.1em;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.425);
  background-color: #f8d7d7;
  max-width: 230px;
  max-height: 80px;
  text-align: center; }

.contact-button:hover, .service-buttom:hover {
  background-color: #be99ca;
  color: white; }

.services {
  background-color: #fff8ead4;
  color: whitesmoke;
  text-align: center; }
  .services .container {
    padding: 100px 0px; }
  .services h2 {
    color: black;
    padding-bottom: 40px; }
  .services h3 {
    padding: 25px; }
  .services p {
    display: none; }
  .services .carta {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 60px;
    margin: 12px;
    border-radius: 50px; }
  .services .carta:first-child {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.56)), url("../img/manicura2.jpg"); }
  .services .carta:nth-child(2) {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.56)), url("../img/esmaltado2.jpg"); }
  .services .carta:nth-child(3) {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.56)), url("../img/pedicura2.jpg"); }

/*About Me*/
.aboutme .container {
  padding: 90px 0px; }
  .aboutme .container h2 {
    text-align: center;
    color: #734f7d;
    text-shadow: 2px 2px 1px darkgray;
    padding: 35px 0px; }
  .aboutme .container p {
    font-size: 1.1em;
    text-align: justify; }

.aboutme .img-container img {
  width: 70%;
  border-radius: 200%;
  padding: 10px;
  display: flex;
  margin: auto; }

.aboutme .text-container {
  padding: 25px; }

/*Form contact*/
.container-contact {
  padding: 120px 0px;
  justify-content: center; }
  .container-contact form {
    width: 440px;
    height: 500px;
    background: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 0 40px -0px #000;
    margin: 2.5%;
    padding: 20px 30px;
    max-width: 95%;
    box-sizing: border-box;
    position: relative; }
    .container-contact form .titlec {
      font-size: 1.5em;
      padding-bottom: 10px;
      width: 300px;
      color: gray;
      border-bottom: 2.2px solid #707070; }
    .container-contact form div input, .container-contact form textarea {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      background: none;
      outline: none;
      resize: none;
      border: 0;
      transition: all .3s;
      border-bottom: 2px solid grey; }
    .container-contact form div textarea {
      height: 120px; }
    .container-contact form div input:focus, .container-contact form textarea:focus {
      border-bottom: 2px solid #dc9cbe; }
    .container-contact form div label {
      display: block;
      margin: 20px 0 0;
      font-size: 0.9em;
      color: #4d4a4a; }

.contacto-datos {
  text-align: center;
  font-size: 1.1em;
  padding: 20px; }
  .contacto-datos p {
    margin-top: 10px;
    font-weight: bold; }

.titulo-seccion {
  text-align: center; }

.coloricon-contacto {
  color: #734f7d; }

.container-form {
  display: flex;
  justify-content: center;
  padding-top: 30px; }

/*Location*/
.location .container {
  padding: 80px 0px;
  margin: auto; }
  .location .container h2 {
    padding: 20px 0px;
    text-align: center;
    color: #734f7d;
    text-shadow: 2px 2px 1px darkgray; }
  .location .container p {
    font-size: 1.1em;
    text-align: justify;
    padding: 15px 3px; }

.location .card {
  margin: 10px;
  background: none;
  border: none; }

.location .map-location {
  width: 100%;
  height: 100%; }

/*Multiples Services*/
.mult-services .container {
  width: 100%;
  max-width: 1200px;
  padding: 100px 0px;
  margin: auto; }
  .mult-services .container .title-head {
    padding-bottom: 55px; }

.mult-services .card {
  display: flex;
  align-items: center;
  background-color: #fff8ead4;
  background-size: auto;
  padding: 15px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 40px -10px #000; }
  .mult-services .card img {
    width: 55%;
    height: 55%;
    border-radius: 50%; }
  .mult-services .card h3 {
    text-align: center;
    color: black;
    padding: 20px; }
  .mult-services .card li {
    font-size: 0.9em;
    text-align: left;
    margin: 10px; }
  .mult-services .card p {
    text-align: justify;
    margin: 10px; }

.mult-services .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 40px -10px #000; }

@media screen and (max-width: 768px) {
  footer .container {
    width: 90%;
    height: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; }
    footer .container img {
      display: flex;
      margin: auto; } }

@media screen and (min-width: 1024px) {
  .outer-header .container {
    flex-direction: row-reverse;
    margin: 50px;
    padding: 30px 0px; }
  .outer-header .div-outerheader {
    padding: 0px;
    padding-left: 150px; }
  .outer-header .carousel, .outer-header .carousel-inner, .outer-header .carousel-item {
    width: 800px; }
  .services .container-services {
    display: flex;
    justify-content: center; }
  .services .carta {
    width: 2000px;
    height: 400px; }
  .services p {
    display: block;
    margin-bottom: 20px; }
  .aboutme .container {
    display: flex;
    flex-direction: row;
    margin: 0px 35px; }
  .aboutme .text-container {
    text-align: initial;
    margin: 40px; }
  .aboutme .img-container img {
    width: 330px;
    padding-right: 25px;
    padding-left: 25px;
    margin: 50px; }
  .mult-services .container .manicurie, .mult-services .container .pedicurie {
    display: flex;
    flex-direction: row;
    margin: auto; }
  .mult-services .container .card {
    width: 100%;
    height: 550px; }
  .mult-services .container img {
    width: 200px;
    height: 200px; }
  .location .container {
    margin: 15px;
    display: flex;
    flex-direction: row; }
    .location .container p {
      text-align: center;
      padding: 15px; }
  .location .card {
    width: 100%; }
  .location .map-location {
    width: 100%;
    height: 100%;
    align-content: center; }
  .contacto-datos {
    display: flex;
    flex-direction: row;
    padding: 10px; }
  .container-contact form {
    width: 540px;
    height: 550px;
    padding: 50px 25px; } }
