/*About Me*/
.aboutme .container{
    padding: 90px 0px;

    h2{
        text-align:center;
        color: $color-fourth;
        text-shadow: 2px 2px 1px darkgray;
        padding: 35px 0px;
    }

    p{
        font-size: $font-medium;
        text-align:justify;
    }

}

.aboutme .img-container img{
    max-width: 400px;
    border-radius: 200%;
    padding: 10px;
    @include img-flex-auto;
}

.aboutme .text-container{
    padding: 25px;
}
