/*Form contact*/
.container-contact {
    padding: 120px 0px;
    justify-content: center;

    form{
        width: 440px;
        height: 500px;
        background: whitesmoke;
        border-radius: 8px;
        box-shadow: 0 0 40px -0px #000;
        margin: 2.5%;
        padding: 20px 30px;
        max-width: 95%;
        box-sizing: border-box;
        position: relative;
    
    .titlec{
        font-size: $subtitle;
        padding-bottom: 10px;
        width: 300px;
        color: gray;
        border-bottom: 2.2px solid rgb(112, 112, 112);
    }

    div input, textarea{
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        background: none;
        outline: none;
        resize: none;
        border: 0;
        transition: all .3s;
        border-bottom: 2px solid grey;
    }
    div textarea{
        height: 120px;
    }
    
    div input:focus, textarea:focus{
        border-bottom: 2px solid $color-shade;
    }
    
    div label{
        display: block;
        margin: 20px 0 0;
        font-size: $font-small;
        color: rgb(77, 74, 74);
    }
}
}

.contacto-datos {
    text-align: center;
    font-size: $font-medium;
    padding: 20px;

    p { 
        margin-top: 10px;
        font-weight: bold;
    }
}

.titulo-seccion{
    text-align: center;
}

.coloricon-contacto {
    color: $color-fourth;
}

.container-form{
    @include container-flex-center;
    padding-top: 30px;
}
