/*Location*/
.location .container{
    padding: 80px 0px;
    margin: auto;

    h2{
        padding: 20px 0px;
        text-align:center;
        color: $color-fourth;
        text-shadow: 2px 2px 1px darkgray;
    }

    p{
        font-size: $font-medium;
        text-align: justify;
        padding: 15px 3px;
    }
}

.location .card {
    margin: 10px;
    background: none;
    border: none;
}

.location .map-location{
    max-width: 700px;
    max-height: 700px;
}